.dashboard-product-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.table-content {
  text-align: center;
}

thead,
th,
tr {
  color: rgba(114, 102, 102, 0.699);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.tab {
  color: rgba(204, 204, 204, 1);
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.admun-dash {
  margin-top: 60px;
}
.dash-btn-group {
  text-align: center;
  margin: auto;
}
.dash-del {
  padding: 5px;
  margin-right: 10px;
  border: none;
  background-color: rgba(80, 72, 229, 0);
  background-color: rgba(80, 72, 229, 0.682);
  border-radius: 4px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.dash-del:hover {
  background-color: rgba(80, 72, 229, 0.4);
  color: white;
}
.admun-dash:link {
  color: rgb(255, 255, 255);
}

.flex-column {
  background-color: rgba(80, 72, 229, 0.688);
  color: white;
  border: 4px;
}
.btn-warning {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(80, 72, 229, 0.688);
  color: rgba(80, 72, 229, 0.688);
  height: 34px;
  margin-right: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn-warning:hover {
  color: rgba(80, 72, 229, 0.396);
  background-color: white;
  border: 1px solid rgba(80, 72, 229, 0.688);
}
.dash-table-container {
  justify-content: center;
  align-items: center;
}
