.logou-btn {
  /* display: block !important; */
  background-color: rgba(80, 72, 229, 0.625);
  border: 1px solid rgba(115, 112, 112, 0.678);
  color: white;
  width: 65px;
  height: 35px;
  border-radius: 4px;
  margin-left: 10px;
}
.nav-login-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.dropdon-item {
  color: rgb(144, 143, 143);
}

.logo {
  width: 50px;
}

#cartcount {
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: -8px;
  border-radius: 50%;
  margin-top: -5px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.fa-shopping-cart {
  font-size: 20px;
}

.notifications-container {
  padding: 20px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid gray;
  background-color: white;
  width: 200px;
  z-index: 99;
}

.notification-read {
  background-color: lightblue;
}

.notification-unread {
  background-color: lightcoral;
}
.fas[data-count] {
  position: relative;
}

.fa-bell {
  font-size: 1.5em;
}

.fas[data-count]:after {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  content: attr(data-count);
  padding: 0.5em;
  border-radius: 10em;
  line-height: 0.9em;
  color: white;
  background-color: red;
  text-align: center;
  min-width: 2em;
  font: bold 0.4em sans-serif;
}
.navbar-brand .brand {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar-dark {
  background-color: rgb(17, 24, 39);
  color: white;
}
.fa-shopping-cart,
#basic-nav-dropdown {
  color: white;
}
.shop-cart {
  color: white;
}
.footer {
  background-color: rgb(17, 24, 39);
  justify-content: center;
  height: 60px;
}
.copy-right {
  color: white;
  font-size: 13px;
  margin-left: 110px;
}
.icon-group {
  color: white;
  margin-left: 300px;
  margin-right: 300px;
}
.contact-group {
  color: white;
  font-size: 13px;
}
.footer-container {
  justify-content: center;
  margin-left: 100px;
  align-items: center;
}
.contact,
.privacy,
.help {
  float: left;
  margin-right: 15px;
}
.insta-icon {
  width: 22px;
  height: 20px;
  margin-right: 5px;
  color: white;
}
.yt-icon {
  width: 32px;
  height: 25px;
  margin-right: 5px;
  color: white;
}

.twi-con {
  width: 32px;
  height: 25px;
  color: white;
}
@media only screen and (max-width: 1296px) {
  .copy-right {
    color: white;
    font-size: 13px;
    margin-left: 170px;
  }
  .icon-group {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 1290px) {
  .copy-right {
    color: white;
    font-size: 13px;
  }
  .icon-group {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 1268px) {
  .copy-right {
    color: white;
    font-size: 13px;
  }
  .icon-group {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 1185px) {
  .copy-right {
    color: white;
    font-size: 13px;
    margin-left: 90px;
  }
  .icon-group {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media only screen and (max-width: 976px) {
  .copy-right {
    color: white;
    font-size: 13px;
    margin-left: 40px;
  }
  .icon-group {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 827px) {
  .copy-right {
    font-size: 13px;
    margin-left: -10px;
  }
  .icon-group {
    color: white;
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media only screen and (max-width: 736px) {
  .copy-right {
    font-size: 10px;
    margin-left: -15px;
  }
  .icon-group {
    color: white;
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact-group {
    color: white;
    font-size: 10px;
  }
  .insta-icon {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    color: white;
  }
  .yt-icon {
    width: 27px;
    height: 20px;
    margin-right: 5px;
    color: white;
  }

  .twi-con {
    width: 27px;
    height: 20px;
    color: white;
  }
}

@media only screen and (max-width: 704px) {
  .copy-right {
    font-size: 10px;
    margin-left: -35px;
  }
  .icon-group {
    color: white;
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact-group {
    color: white;
    font-size: 10px;
  }
  .insta-icon {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    color: white;
  }
  .yt-icon {
    width: 27px;
    height: 20px;
    margin-right: 5px;
    color: white;
  }

  .twi-con {
    width: 27px;
    height: 20px;
    color: white;
  }
}
@media only screen and (max-width: 633px) {
  .copy-right {
    font-size: 10px;
    margin-left: -55px;
  }
  .icon-group {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact-group {
    color: white;
    font-size: 10px;
  }
  .insta-icon {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    color: white;
  }
  .yt-icon {
    width: 27px;
    height: 20px;
    margin-right: 5px;
    color: white;
  }

  .twi-con {
    width: 27px;
    height: 20px;
    color: white;
  }
}
@media only screen and (max-width: 592px) {
  .footer {
    background-color: rgb(17, 24, 39);
    justify-content: center;
    height: 120px;
  }

  .copy-right {
    font-size: 10px;
    margin-left: 130px;
    margin-top: -60px;
  }
  .icon-group {
    color: white;
    margin-top: 15px;
    height: 40px;
    margin-left: -120px;
    margin-right: 50px;
    width: 100px;
  }
  .contact-group {
    color: white;
    font-size: 10px;
    width: 250px;
    margin-top: 60px;
    margin-left: -200px;
  }
  .insta-icon {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    color: white;
  }
  .yt-icon {
    width: 27px;
    height: 20px;
    margin-right: 5px;
    color: white;
  }

  .twi-con {
    width: 27px;
    height: 20px;
    color: white;
  }
}
@media only screen and (max-width: 500px) {
  .copy-right {
    font-size: 10px;
    margin-left: 60px;
    margin-top: -60px;
  }
  /*  */
}

@media only screen and (max-width: 478px) {
  .copy-right {
    font-size: 10px;
    margin-left: 50px;
    margin-top: -60px;
  }
  /*  */
}
@media only screen and (max-width: 397px) {
  .copy-right {
    font-size: 10px;
    margin-left: 20px;
    margin-top: -60px;
  }
  /*  */
}
@media only screen and (max-width: 376px) {
  .copy-right {
    font-size: 10px;
    margin-left: 0px;
    margin-top: -60px;
  }
  /*  */
}
@media only screen and (max-width: 375px) {
  .copy-right {
    font-size: 10px;
    margin-right: 2px;
  }
  /*  */
}
@media only screen and (max-width: 368px) {
  .copy-right {
    font-size: 10px;
    margin-left: -5px;
    margin-top: -60px;
  }
  /*  */
}

/* .copy-right {
  color: white;
  font-size: 12px;
  margin-left: 220px;
  padding-right: 300px;
}
.insta-icon {
  margin-left: 10px;
  width: 22px;
  height: 20px;
  margin-right: 5px;
  color: white;
}
.yt-icon {
  width: 32px;
  height: 25px;
  margin-right: 5px;
  color: white;
}

.twi-con {
  width: 32px;
  height: 25px;
  color: white;
}
.icon-group {
  margin-right: 180px;
}
.copy {
  color: white;
}
.contact-group {
  margin-left: 110px;
  margin-right: 20px;
  color: white;
  font-size: 13px;
}

.contact,
.privacy,
.help {
  float: left;
}
.privacy {
  margin-left: 20px;
}
.help {
  margin-left: 20px;
} */
/* @media only screen and (max-width: 480px) {
  .footer {
    background-color: rgb(17, 24, 39);
    justify-content: center;
    height: 132px;
  }
  .copy-right {
    padding-right: 6px;
    height: 20px;
    margin-bottom: 50px;
    margin-left: 110px;
    width: 200px;
  }
  .icon-group {
    margin-top: 30px;
    margin-left: -135px;
    width: 200px;
    height: 20px;
  }

  .insta-icon {
    margin-left: 10px;
    width: 20x;
    height: 22px;
    margin-right: 5px;
    color: white;
    float: left;
  }
  .yt-icon {
    width: 30px;
    height: 23px;
    margin-right: 5px;
    color: white;
    float: left;
  }

  .twi-con {
    width: 30px;
    height: 23px;
    color: white;
    float: left;
  }

  .contact-group {
    font-size: 12px;
    color: gray;
    height: 15px;
    margin-top: 40px;
    margin-left: 300px;
  }
 
} */
