/* @media only screen and (max-width: 375px) {
  .add-btn2 {
    margin-right: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
} */
.justify-content-center {
  justify-content: center !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.d-flex {
  display: flex !important;
}
.go {
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}
.card-name {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0.15rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card-price {
  font-size: 17px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card-stock {
  font-size: 12px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn-primary {
  text-align: center;
  background-color: rgba(80, 72, 229, 1);
}
.count-sty {
  font-size: 18px;
  text-align: center;
  margin-right: 8px;
  margin-left: -20px;
}
.privew-btn-group {
  text-align: center;
}
.privew-btn-minus {
  margin-right: 25px;
}
.privew-btn-add {
  margin-right: 10px;
}
.change-btn {
  margin-right: 10px;
}
.link-none:link {
  text-decoration: none;
}
.count-sty1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
.minus-btn2 {
  margin-left: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.add-btn2 {
  margin-right: 4px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.add-btn3 {
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  justify-content: left;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  border: 1px solid rgba(115, 112, 112, 0.678);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(80, 72, 229, 0.682);
  border-radius: 4px;
  color: white;
  margin-top: auto;
}
.minus-btn3 {
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
  border: 1px solid rgba(115, 112, 112, 0.678);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(80, 72, 229, 0.682);
  border-radius: 4px;
  color: white;
  margin-top: auto;
  text-align: center;
}
.count-sty2 {
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(115, 112, 112, 0.678);
}
.btn-it {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add-to-cart {
  font-size: 15px;
  border: 1px solid rgba(80, 72, 229, 1);
  border-radius: 4px;
  width: 80px;
  height: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(115, 112, 112, 0.678);
  margin-top: 10px;
}
.btn-edit {
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid rgba(80, 72, 229, 1);
  border-radius: 4px;
  width: 80px;
  height: 25px;

  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
  /* vertical-align: center; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(115, 112, 112, 0.678);
}
.privew-btn-group2 {
  text-align: left;
}
.btn-go {
  justify-content: center;
  block-size: fit-content;
}
.product-preview-img {
  border: 1px solid rgba(115, 112, 112, 0.555);
}
