@media only screen and (max-width: 375px) {
  .login-title {
    margin-top: 150px;
    font-size: 20px;
  }

  /*  */
}

.log-form-all {
  margin-top: 30px;
  text-align: left;
  justify-content: center;
  /* width: 344px; */
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 5px 16px 1px rgba(229, 229, 229, 0.8);
  width: 600px;
  margin-bottom: 200px;
}
.login-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 150px;
  font-size: 25px;
  color: #6b7280;
}
.title {
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}
.row-pos {
  justify-content: center;
}
.emai2-lable {
  color: #6b7280;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  font-size: 15px;
}
.control-size::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  color: #6b7280b3;
}
.password2-lable {
  margin-top: 20px;
  color: #6b7280;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.email-lable,
.password-lable {
  margin-top: 20px;
  color: #6b7280;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.margin-item {
  margin-left: 8px;
  margin-right: 8px;
}
.log-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.single-login-btn {
  background-color: rgba(80, 72, 229, 0.625);
  border: 1px solid rgba(115, 112, 112, 0.678);
  color: white;
  width: 65px;
  height: 35px;
  border-radius: 4px;
}
.login-btn {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(80, 72, 229, 0.497);
  border: none;
  border-radius: 4px;
  margin-top: 40px;
  height: 47px;
  color: white;
  font-size: 16px;
  width: 530px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.qusetion {
  /* margin-top: 20px; */
  font-size: 14px;
  color: #6b7280;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.ques-group p {
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.forgot-pass {
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.danger-lable {
  text-align: right;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.537);
}
